<h1>Winter 2013</h1>

<article class="row">
  <% if @shows.present? %>
    <% @shows.each do |show| %>
      <section class="span3">
        <h2><%= show.name %></h2>
      </section>
    <% end %>
  <% else %>
    <p class="span9">We currently don't have any screenshot for any show in this season. Please check back soon!</p>
  <% end %>
</article>
